# Data Science Tools and Ecosystem

In this notebook, I will be showcasing some of the things I have learned.

__Objectives__

- Data Science Libraries
- Tools
- Arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. ggplot2
2. Pandas
3. Numpy

| Data Science Tools|
|---|
|Python|
|Jupyter|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [23]:
##This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [24]:
## This will convert 180 minutes to hours by diving by 60
(180/60)

3.0

## Author

Jose Serna